<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88781679477-mo3esjc9cb3hrm4sk3da6vdne2liqdqh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88781679477-mo3esjc9cb3hrm4sk3da6vdne2liqdqh</string>
	<key>API_KEY</key>
	<string>AIzaSyB0WQrquPaU8OzxZEKJZMPkOGAtO88aU-k</string>
	<key>GCM_SENDER_ID</key>
	<string>88781679477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.blazefast.ios</string>
	<key>PROJECT_ID</key>
	<string>blazefast-template</string>
	<key>STORAGE_BUCKET</key>
	<string>blazefast-template.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88781679477:ios:b65d7be56486a1ea65813c</string>
	<key>DATABASE_URL</key>
	<string>https://blazefast-template-default-rtdb.firebaseio.com</string>
</dict>
</plist>